.texto {
    color: blue;
    text-align: center;
    font-size: 20px;
}

#titulo {
    color: aqua;
    text-align: center;
    font-size: 30px;
}

body {
    #color: rgb(155, 0, 40);
}
#banner {
    width: 300px;
    padding: 400px;
    margin: 150px
    ;
}

{
#background: 
}