.texto {
    color: blue;
    text-align: center;
    font-size: 20px;
}

#titulo {
    color: aqua;
    text-align: center;
    font-size: 30px;
}

body {
    #color: rgb(155, 0, 40);
}
#banner {
    width: 350px;
    padding: 150px;
    margin: 50px;
    text-align: center;
    ;
}

{
#background: red
}